---
title: Pro Modules Overview
desc: Discover Pro HubSpot modules — reusable, performance-focused components that bring speed and flexibility to your CMS.
permalink: /docs/modules/
modules:
  - key: lite-video-embed
    title: Lite Video Embed
    description: A performance-friendly video embed module optimized for HubSpot pages.
    link: /docs/modules/lite-video-embed/
  - key: video-gif
    title: Video to GIF
    description: A performance-optimized module that converts videos into GIFs for HubSpot CMS.
    link: /docs/modules/video-gif/
  - key: github-gist
    title: Code Snippet Embed (GitHub Gist)
    description: Code Snippet (GitHub Gist) for HubSpot – Clean, Fast, Developer-Friendly
    link: /docs/modules/github-gist/
  - key: schema-pro
    title: Schema Pro
    description: Add JSON-LD structured data (Schema.org markup) to your pages for enhanced SEO and Google Rich Results.
    link: /docs/modules/schema-pro/
---

<p>Pro Modules library brings your HubSpot pages to life — fast, optimized, and packed with features that keep everything fresh 🍊</p>

<div class="grid sm:grid-cols-2 md:grid-cols-3 gap-4 mt-10">
{% for module in modules %}
  <a href="{{ module.link }}" class="relative block group transition-all ease-in-out hover:-translate-y-0.5">
    <img src="./{{ module.key }}/thumbnail.png" alt="{{ module.title }}" class="img rounded-2xl m-0 transition-all ease-in-out group-hover:brightness-105">
    <div class="sr-only">
      <h3>{{ module.title }}</h3>
      <p>{{ module.description }}</p>
    </div>
  </a>
{% endfor %}
</div>
