[submodule "_content/blog/posts"]
	path = _content/blog/posts
	url = git@github.com:freshjuice-dev/blog.freshjuice.dev.git
  branch = main
  ignore = all

[submodule "_content/authors/authors"]
	path = _content/authors/authors
	url = git@github.com:freshjuice-dev/authors.freshjuice.dev.git
	branch = main
  ignore = all
