{% if page | isSchemaMarkup %}

  {# BreadcrumbList schema #}
  {% if page.url != '/' %}
    {% set breadcrumbsList = page | getBreadcrumbsList(title or name) %}
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
          {%- for item in breadcrumbsList %}
          {
            "@type": "ListItem",
            "position": {{ loop.index }},
            "name": "{{ item.name }}",
            "item": "{{ item.url | htmlBaseUrl(metadata.url) }}"
          }{% if not loop.last %},{% endif %}
          {%- endfor %}
        ]
      }
    </script>
  {% endif %}

  {# BlogPosting schema #}
  {% if layout == 'post' %}
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "BlogPosting",
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "{{ page.url | htmlBaseUrl(metadata.url) }}"
        },
        "headline": "{{ title }}",
        "image": "{{ metadata.url }}{% ogImageSource page %}",
        "datePublished": "{{ page.date | htmlDateString }}",
        "dateModified": "{{ (updated or page.date) | htmlDateString }}",
        "author": {
          "@type": "Person",
          "name": "{{ author | getAuthorData('name') }}",
          "url": "{{ author | getAuthorData('url') | htmlBaseUrl(metadata.url) }}",
          "description": "{{ author | getAuthorData('content') | striptags | trim | truncate(160) }}"
        },
        "publisher": {
          "@type": "Organization",
          "name": "FreshJuice",
          "logo": {
            "@type": "ImageObject",
            "url": "{{ metadata.url }}/images/logo.png"
          }
        },
        "description": "{{ desc or description or metadata.description }}"
      }
    </script>
  {% endif %}

  {# ProfilePage schema #}
  {% if layout == 'author' %}
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "ProfilePage",
        "mainEntity": {
          "@type": "Person",
          "name": "{{ title or name }}",
          "url": "{{ page.url | htmlBaseUrl(metadata.url) }}",
          "image": "{{ email | getGravatarImage(512) }}",
          "sameAs": [
            {%- for link in links | objectToArrayOfValues %}
            "{{ link }}"{% if not loop.last %},{% endif %}
            {%- endfor %}
          ],
          "description": "{{ page.rawInput | striptags | trim | truncate(160) }}",
          "jobTitle": "{{ role }}",
          "worksFor": {
            "@type": "Organization",
            "name": "FreshJuice"
          },
          "memberOf": {
            "@type": "Organization",
            "name": "FreshJuice",
            "url": "{{ metadata.url }}"
          }
        }
      }
    </script>
  {% endif %}

{% endif %}
