---
layout: page.njk
permalink: 404.html
eleventyExcludeFromCollections: true
title: 404 - Page not found
suffix: " "
description: "Ahhhhhhh! This page does not exist"
---

<div class="grid lg:grid-cols-3 gap-8 md:gap-16">

  <div class="">
    <h1 class="mt-4 text-5xl font-bold tracking-tight text-pretty">Ahhhhhhh!<span class="block text-3xl">This page does not exist</span></h1>
    <p class="mt-6 text-base leading-7">
      Don't get angry with me<br/>
      I never caused you no pain...
    </p>
    <p class="mt-3 text-base leading-7">
      You can go back to <a href="{{ metadata.motherShip }}" class="text-red-500 hover:underline">homepage</a>.<br/>
      Or sit here and listen to some music.
    </p>
  </div>

  <iframe class="w-full aspect-video rounded lg:col-span-2"
          src="https://www.youtube-nocookie.com/embed/_mEC54eTuGw?si=AerukXEMzZpq_VlX"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>

</div>


