---
permalink: '/_redirects'
eleventyExcludeFromCollections: true
---

{# Shortcuts #}
/hubspot-theme/ https://143910617.hs-sites-eu1.com/blog

{# Misc #}
/sitemap/ /sitemap.xml
/sitemap_index.xml /sitemap.xml
