---
permalink: '/_redirects'
eleventyExcludeFromCollections: true
---

{# Shortcuts #}
/demo/ {{ hsTheme.demo }}
/hubspot-theme/ {{ hsTheme.demo }}
/download/ {{ hsTheme.download }}

{# Misc #}
/sitemap/ /sitemap.xml
/sitemap_index.xml /sitemap.xml
