---
permalink: ../_temp/titles-for-og-images.json
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
{% collectionsToJSON collections.posts, collections.docs, [
  { "title": "FREE and Open-Source HubSpot multi-purpose theme", "permalink": "homepage" },
  { "title": "Privacy Policy", "permalink": "/privacy/" },
  { "title": "Juicy Blog", "permalink": "/blog/" },
  { "title": "Download", "permalink": "/download/" },
  { "title": "Changelog", "permalink": "/changelog/" }
] %}
