---
layout: home.njk
title: FREE and Open-Source HubSpot multi-purpose theme
permalink: /
---

<section class="text-center">
  <h1 class="text-lg md:text-xl font-semibold text-balance tracking-wide leading-6 uppercase">
    FREE and Open-Source HubSpot multi-purpose theme
  </h1>
  <h2 class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-black uppercase max-w-4xl mx-auto text-balance
  text-transparent bg-gradient-60 from-red-500 via-amber-500 dark:via-amber-400 to-orange-600 dark:to-orange-500 bg-clip-text">
    The HubSpot theme that gives you more
  </h2>
  <p class="max-w-prose mx-auto mt-8 text-balance">
    More flexibility, more customization, more features, more everything. Fresh Juice is a free and open-source HubSpot theme that is designed to give you more control over your website. It's perfect for agencies, freelancers, and businesses that want to create a unique and professional website without the high costs of custom development.
  </p>
  <div class="flex gap-4 flex-wrap justify-center items-center mt-8 md:mt-16 max-w-sm mx-auto">
    <a href="/download/" class="btn btn--primary w-full sm:w-auto">
      {% phicon "download", "duotone", { class: "size-6" } %}
      <span>Free Download</span>
    </a>
    <a href="/demo/" class="btn btn--secondary w-full sm:w-auto">
      {% phicon "eye", "duotone", { class: "size-6" } %}
      <span>Live Demo</span>
    </a>
  </div>
  <p class="my-4">— or —</p>
  <p class="mt-4">
    <small>
      <em>
        <a href="/docs/" class="inline-flex items-center justify-center gap-1.5 hover:text-red-600">
          Check our Documentation First
        </a>
      </em>
    </small>
  </p>
</section>


<section class="bg-zinc-100 dark:bg-zinc-800 border-2 border-zinc-200 dark:border-zinc-700 drop-shadow-xl rounded-md px-8 md:px-16 my-12 sm:my-24 lg:my-32 py-8 sm:py-12">
  <h2 class="text-2xl sm:text-3xl md:text-4xl font-bold text-center mb-8 uppercase">
    <span class="whitespace-nowrap block sm:inline" aria-hidden="true">🍊🌟</span>
    Juicy features
    <span class="whitespace-nowrap hidden sm:inline" aria-hidden="true">🌟🍊</span>
  </h2>
  <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-8">
    <div class="">
      <h3 class="text-xl font-semibold">📱 Fully responsive</h3>
      <p class="text-neutral-600 dark:text-neutral-400">
        Fresh Juice looks great on all devices, from mobile to desktop.
      </p>
    </div>
    <div class="">
      <h3 class="text-xl font-semibold">🎨 Customizable</h3>
      <p class="text-neutral-600 dark:text-neutral-400">
        Customize every aspect of your website with ease.
      </p>
    </div>
    <div class="">
      <h3 class="text-xl font-semibold">🔍 SEO-friendly</h3>
      <p class="text-neutral-600 dark:text-neutral-400">
        Built with SEO best practices to help you rank higher in search engines.
      </p>
    </div>
    <div class="">
      <h3 class="text-xl font-semibold">⚡️ Fast loading</h3>
      <p class="text-neutral-600 dark:text-neutral-400">
        Optimized for speed to ensure a smooth user experience.
      </p>
    </div>
  </div>
</section>


<section class="my-12 sm:my-24 lg:my-32 grid md:grid-cols-2 gap-8">
   <div class="">
     <h2 class="text-lg md:text-xl font-semibold text-balance tracking-wide leading-6 uppercase">
       Get the best out of HubSpot
     </h2>
     <p class="text-3xl sm:text-4xl md:text-5xl font-bold uppercase">
       Build your website on a strong foundation
     </p>
   </div>

   <div class="">
      {# TODO: add some image here #}
   </div>

  <div class="md:col-span-2 grid md:grid-cols-2 lg:grid-cols-4 gap-8 md:mt-12">

    <div class="relative group">
      <h3 class="text-xl font-semibold flex items-center gap-3 mb-2 transition-color group-hover:text-red-600">
        {% phicon "piggy-bank", "regular", { class: "size-8" } %}
        100% Risk-Free
      </h3>
      <p class="text-pretty">The FreshJuice theme is free and open-source, so you can try it out without any commitment.</p>
      <a href="/download/" class="absolute inset-0">
        <span class="sr-only">
          Download FreshJuice theme
        </span>
      </a>
    </div>

    <div class="relative group">
      <h3 class="text-xl font-semibold flex items-center gap-3 mb-2 transition-color group-hover:text-red-600">
        {% phicon "books", "regular", { class: "size-8" } %}
        Documentation
      </h3>
      <p class="text-pretty">We provide detailed documentation to help you get started with your new theme.</p>
      <a href="/docs/" class="absolute inset-0">
        <span class="sr-only">
          Read the documentation
        </span>
      </a>
    </div>

    <div class="relative group">
      <h3 class="text-xl font-semibold flex items-center gap-3 mb-2 transition-color group-hover:text-red-600">
        {% phicon "arrows-clockwise", "regular", { class: "size-8" } %}
        Continuous Updates
      </h3>
      <p class="text-pretty">We are working on improvements around the clock, to ensure FreshJuice are always able to meet the latest demands.</p>
      <a href="/changelog/" class="absolute inset-0">
        <span class="sr-only">
          Check the changelog
        </span>
      </a>
    </div>

    <div class="relative group">
      <h3 class="text-xl font-semibold flex items-center gap-3 mb-2 transition-color group-hover:text-red-600">
        {% phicon "broom", "regular", { class: "size-8" } %}
        Keeping it Real
      </h3>
      <p class="text-pretty">Your trust matters to us. No fake "Clean" code. No swiss knife modules. Just the real deal.</p>
{#
      <a href="/blog/our-philosophy/" class="absolute inset-0">
        <span class="sr-only">
          Learn more about our philosophy
        </span>
      </a>
#}
    </div>
  </div>
</section>


<section class="">
  <div class="text-center">
    <h2 class="text-lg md:text-xl font-semibold text-balance tracking-wide leading-6 uppercase">
      The one and only
    </h2>
    <p class="text-3xl sm:text-4xl md:text-5xl font-bold uppercase max-w-3xl mx-auto text-balance">
      Truly free HubSpot theme crafted for developers
    </p>
    <p class="text-balance my-3 max-w-xl mx-auto">FreshJuice designed with developers in mind. We've made it easy to customize and extend, so you can build the website you want.</p>
    <p class="text-balance my-3">Please support us by sharing this project with your friends and colleagues.</p>
    <p class="text-balance my-3">The source-code on GitHub can be checked here:</p>
    <a href="{{ hsTheme.repo }}" class="mt-6 btn btn--primary">
      {% phicon "github-logo", "duotone", { class: "size-6" } %}
      <span>Source Code</span>
    </a>
  </div>
</section>
