---
layout: prose.njk
title: License
permalink: /license/
---

<h1>{{ title }}</h1>

<p>
&copy;&nbsp;<span x-text="(new Date()).getFullYear()">{% year %}</span> <a href="https://alex.zappa.dev/?utm_source=freshjuice">Alex&nbsp;Zappa</a>.
All&nbsp;Right&nbsp;Reserved. Except as otherwise noted, the content of this website is licensed under the <a href="https://creativecommons.org/licenses/by/4.0/" rel="noopener">Creative Commons Attribution 4.0 License</a>, and code samples are licensed under the <a href="https://opensource.org/licenses/MIT" rel="noopener">MIT License</a>.
</p>
