---
permalink: '/_headers'
eleventyExcludeFromCollections: true
---

{#- Default #}
/*
	X-Frame-Options: SAMEORIGIN
	X-Content-Type-Options: nosniff
	X-XSS-Protection: 1; mode=block

{#- Helpers #}
/_helpers/*
  X-Robots-Tag: noindex, nofollow
  Cache-Control: max-age=0, no-cache, no-store, must-revalidate

{#- Pagefind #}
/docs/pagefind/*
  X-Robots-Tag: noindex, nofollow
/developer-edition/docs/pagefind/*
  X-Robots-Tag: noindex, nofollow

/*.{png,jpg,jpeg,gif,webp,avif,svg,ico,woff,woff2,ttf,otf,mp4,webm,webmanifest,json}
  Access-Control-Allow-Origin: *
  Vary: Origin
  Cross-Origin-Resource-Policy: cross-origin
  Timing-Allow-Origin: *
  Cache-Control: public, max-age=31536000, immutable

{#- CloudFlare Custom Domain #}
https://:project.pages.dev/*
  X-Robots-Tag: noindex, nofollow

https://:freshjuice.pages.dev/*
  Link: <https://freshjuice.dev/:splat>; rel="canonical"
  X-Robots-Tag: noindex
  Refresh: 0; url=https://freshjuice.dev/:splat
