---
permalink: '/_headers'
eleventyExcludeFromCollections: true
---

{#- Default #}
/*
	X-Frame-Options: SAMEORIGIN
	X-Content-Type-Options: nosniff
	X-XSS-Protection: 1; mode=block

{#- Helpers #}
/_helpers/*
  X-Robots-Tag: noindex, nofollow
  Cache-Control: max-age=0, no-cache, no-store, must-revalidate

{#- Pagefind #}
/docs/pagefind/*
  X-Robots-Tag: noindex, nofollow
/developer-edition/docs/pagefind/*
  X-Robots-Tag: noindex, nofollow


{#- Static assets #}
/fonts/*
  Access-Control-Allow-Origin: *
  Vary: Origin
  Cross-Origin-Resource-Policy: cross-origin
  Timing-Allow-Origin: *
  Cache-Control: public, max-age=31536000, immutable
/img/*
  Access-Control-Allow-Origin: *
  Vary: Origin
  Cross-Origin-Resource-Policy: cross-origin
  Timing-Allow-Origin: *
  Cache-Control: public, max-age=31536000, immutable
/*.png
  Access-Control-Allow-Origin: *
  Vary: Origin
  Cross-Origin-Resource-Policy: cross-origin
  Timing-Allow-Origin: *
  Cache-Control: public, max-age=31536000, immutable
/*.svg
  Access-Control-Allow-Origin: *
  Vary: Origin
  Cross-Origin-Resource-Policy: cross-origin
  Timing-Allow-Origin: *
  Cache-Control: public, max-age=31536000, immutable
/*.ico
  Access-Control-Allow-Origin: *
  Vary: Origin
  Cross-Origin-Resource-Policy: cross-origin
  Timing-Allow-Origin: *
  Cache-Control: public, max-age=31536000, immutable
/*.webmanifest
  Access-Control-Allow-Origin: *
  Vary: Origin
  Cross-Origin-Resource-Policy: cross-origin
  Timing-Allow-Origin: *
  Cache-Control: public, max-age=31536000, immutable

{#- CloudFlare Custom Domain #}
https://:project.pages.dev/*
  X-Robots-Tag: noindex, nofollow

https://:freshjuice.pages.dev/*
  Link: <https://freshjuice.dev/:splat>; rel="canonical"
  X-Robots-Tag: noindex
  Refresh: 0; url=https://freshjuice.dev/:splat
