---
permalink: '/_redirects'
eleventyExcludeFromCollections: true
---

{# Shortcuts #}
/demo {{ hsTheme.demo }}
/hubspot-theme {{ hsTheme.demo }}

{# Misc #}
/sitemap/ /sitemap.xml
/sitemap_index.xml /sitemap.xml
