---
permalink: '/_redirects'
eleventyExcludeFromCollections: true
---

{# Shortcuts #}
/demo {{ hsTheme.demo }}
/demo/ {{ hsTheme.demo }}
/hubspot-theme {{ hsTheme.demo }}
/hubspot-theme/ {{ hsTheme.demo }}

{# Misc #}
/sitemap/ /sitemap-index.xml
/sitemap.xml /sitemap-index.xml
/sitemap_index.xml /sitemap-index.xml

{# Old URLs #}
/docs/modules/pricing-card/ /docs/modules/pricing-cards/
