---
permalink: '/_redirects'
eleventyExcludeFromCollections: true
---

{# Shortcuts #}
/demo/ {{ hsTheme.demo }}
/hubspot-theme/ {{ hsTheme.demo }}
/developer-edition/demo/ {{ hsTheme.demo }}

{# Misc #}
/sitemap/ /sitemap-index.xml
/sitemap.xml /sitemap-index.xml
/sitemap_index.xml /sitemap-index.xml

{# Docs helpers #}
/docs/overview/ /docs/ 301
/docs/hubspot/overview/ /docs/hubspot/ 301
/docs/modules/overview/ /docs/modules/ 301
/docs/theme/overview/ /docs/theme/ 301

{# Old URLs #}
/changelog/ /developer-edition/changelog/ 301
/docs/installation/ /developer-edition/docs/installation/ 301
/docs/customization/ /developer-edition/docs/customization/ 301
/docs/alpinejs/ /developer-edition/docs/alpinejs/ 301
/docs/tailwindcss/ /developer-edition/docs/tailwindcss/ 301

/docs/modules/global-footer/ /developer-edition/docs/modules/global-footer/ 301
/docs/modules/global-post-author/ /developer-edition/docs/modules/global-post-author/ 301
/docs/modules/global-scroll-to-top/ /developer-edition/docs/modules/global-scroll-to-top/ 301
/docs/modules/global-share-buttons/ /developer-edition/docs/modules/global-share-buttons/ 301
/docs/modules/accordion/ /developer-edition/docs/modules/accordion/ 301
/docs/modules/blog-listing/ /developer-edition/docs/modules/blog-listing/ 301
/docs/modules/button/ /developer-edition/docs/modules/button/ 301
/docs/modules/card/ /developer-edition/docs/modules/card/ 301
/docs/modules/codepen/ /developer-edition/docs/modules/codepen/ 301
/docs/modules/divider/ /developer-edition/docs/modules/divider/ 301
/docs/modules/flip-cards/ /developer-edition/docs/modules/flip-cards/ 301
/docs/modules/github/ /developer-edition/docs/modules/github/ 301
/docs/modules/google-maps/ /developer-edition/docs/modules/google-maps/ 301
/docs/modules/list/ /developer-edition/docs/modules/list/ 301
/docs/modules/navigation-bar/ /developer-edition/docs/modules/navigation-bar/ 301
/docs/modules/pricing-cards/ /developer-edition/docs/modules/pricing-cards/ 301
/docs/modules/related-posts/ /developer-edition/docs/modules/related-posts/ 301
/docs/modules/search-results/ /developer-edition/docs/modules/search-results/ 301
/docs/modules/social-icons/ /developer-edition/docs/modules/social-icons/ 301
/docs/modules/statistics/ /developer-edition/docs/modules/statistics/ 301
/docs/modules/tabs/ /developer-edition/docs/modules/tabs/ 301
/docs/modules/testimonials/ /developer-edition/docs/modules/testimonials/ 301
/docs/modules/video-embed/ /developer-edition/docs/modules/video-embed/ 301

/docs/sections/call-to-action/ /developer-edition/docs/sections/call-to-action/ 301
/docs/sections/contact-us-cards/ /developer-edition/docs/sections/contact-us-cards/ 301
/docs/sections/hero-banner/ /developer-edition/docs/sections/hero-banner/ 301
/docs/sections/multi-column-content/ /developer-edition/docs/sections/multi-column-content/ 301
/docs/sections/pricing/ /developer-edition/docs/sections/pricing/ 301
/docs/sections/row-content/ /developer-edition/docs/sections/row-content/ 301

/docs/templates/about/ /developer-edition/docs/templates/about/ 301
/docs/templates/contact/ /developer-edition/docs/templates/contact/ 301
/docs/templates/home/ /developer-edition/docs/templates/home/ 301
/docs/templates/landing/ /developer-edition/docs/templates/landing/ 301
/docs/templates/pricing/ /developer-edition/docs/templates/pricing/ 301
/docs/templates/system/ /developer-edition/docs/templates/system/ 301
