---
layout: page
title: Authors
permalink: /authors/
---

{% set authors = collections.authors | sortAuthors %}

<main class="prose md:prose-xl mx-auto w-full">

  <header class="grid">
    <h1 style="margin-bottom: 0">{{ heading or title }}{%- if draft %} <small class="text-base">[draft]</small>{%- endif %}</h1>
  </header>

  <section class="grid md:grid-cols-2 gap-8 mt-8 md:mt-12 not-prose">
    {% for author in authors %}
      <div class="bg-zinc-200/40 dark:bg-zinc-800/40 p-4 pb-10 md:px-8 md:pt-6 md:pb-12 relative group">
        {%- set authorData = author.fileSlug | getAuthorData %}
        <div class="xs:flex gap-4 items-center">
          <div class="shrink-0 size-12 sm:size-16">
            <img src="{{ authorData.image }}" alt="Avatar for {{ authorData.name }}" class="rounded-full size-12 sm:size-16">
          </div>
          <div class="mt-3 xs:mt-0">
            <a href="{{ authorData.url }}">
              <span class="absolute inset-0"></span>
              <h2 class="m-0 text-lg font-semibold leading-tight">{{ authorData.name }}</h2>
            </a>
            {% if authorData.role %}
            <p class="text-base">{{ authorData.role }}</p>
            {% endif %}
          </div>
        </div>
        <div class="text-sm mt-2 xs:mt-4 line-clamp-2">
          {{ authorData.content | safe }}
        </div>
        <div class="inline-flex items-center gap-2 text-sm absolute right-4 bottom-3 md:right-6 md:bottom-5">
          Bio
          {% phicon "arrow-right", "bold", { class: "size-4 group-hover:translate-x-1.5 transition-transform" } %}
        </div>
      </div>
    {% endfor %}
  </section>

  {# Contributors??? #}

</main>
