---
layout: page
title: FreshJuice Authors & Contributors
desc: Discover the voices behind FreshJuice. From founder Alex Zappa to guest contributors, explore ideas on clean code, modern design, and building standout web experiences.
suffix: " "
tags: [index, authors]
permalink: /authors/
---

{% set authors = collections.authors | excludeFromCollectionsByTag(['index']) | sortAuthors %}

<main class="mx-auto w-full">

  <header class="prose grid">
    <h1 class="mb-0">Voices of the Blog{%- if draft %} <small class="text-base">[draft]</small>{%- endif %}</h1>
  </header>

  <section class="grid md:grid-cols-2 gap-8 mt-8 md:mt-12">
    {% for author in authors %}
      <div class="bg-cursor/50 border-2 border-orange-200 hover:border-orange-400 transition-all ease-in-out duration-300 p-4 pb-10 md:px-8 md:pt-6 md:pb-12 relative group rounded-3xl">
        {%- set authorData = author.fileSlug | getAuthorData %}
        <div class="xxs:flex gap-4 items-center">
          <div class="shrink-0 size-16 sm:size-18">
            <img src="{{ authorData.image }}" alt="Avatar for {{ authorData.name }}" class="rounded-full border-2 border-orange-300 size-16 sm:size-18">
          </div>
          <div class="mt-3 xxs:mt-0">
            <a href="{{ authorData.url }}">
              <span class="absolute inset-0"></span>
              <h2 class="m-0 text-lg font-semibold leading-tight">{{ authorData.name }}</h2>
            </a>
            {% if authorData.role %}
            <p class="text-sm">{{ authorData.role }}</p>
            <p class="text-sm">@&nbsp;{{ authorData.company or "FreshJuice" }}</p>
            {% endif %}
          </div>
        </div>
        <div class="text-sm mt-2 xxs:mt-4 line-clamp-2">
          {{ authorData.content | safe }}
        </div>
        <div class="inline-flex items-center gap-2 text-sm absolute right-4 bottom-3 md:right-6 md:bottom-5">
          Bio
          {% phicon "arrow-right", "bold", { class: "size-4 group-hover:translate-x-1.5 transition-transform" } %}
        </div>
      </div>
    {% endfor %}
  </section>

  {# Contributors #}
  <section class="mt-16 md:mt-28 text-center prose">
    <h2 class="mt-0">Got Wisdom to Share?</h2>
    <p class="max-w-2xl mx-auto text-balance">
      Have an idea, story, or insight to share with our readers?
      We love fresh perspectives. Drop us a line and let’s create something together.
    </p>
    <a href="/write-for-us/" class="btn mt-1 md:mt-4">
      Write for Us
      {% phicon "tree", "duotone", { class: "size-6" } %}
    </a>
  </section>

</main>
