---
layout: page
title: Juicy Blog
permalink: /blog/
---

{% set postsList = collections.posts %}

{% set postYears = postsList | getPostYears | reverse %}


<div class="prose mx-auto">
  <h1>{{ title }}</h1>
</div>

<div class="prose mx-auto grid gap-8">

  {% for year in postYears %}
  <div class="relative">
    <h2 id="year-{{ year }}" class="text-xl md:text-3xl inline-block m-0 p-0 sticky top-6 left-0">{{ year }}</h2>
    <ul class="grid gap-4 list-none p-0 ml-16 md:ml-20 -mt-6 md:-mt-10 mb-0">
      {% for post in postsList | postsByYear(year) | reverse %}
        <li class="flex flex-col md:flex-row md:gap-2 m-0">
          <time class="font-mono text-xs md:leading-8"
                datetime="{{ post.date | htmlDateString }}">
            {{ post.date | readableDate("LL/dd") }}
          </time>
          <div class="">
            <a href="{{ post.url }}"
               class="md:text-xl text-pretty inline-block leading-tight">
              {% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}
            </a>
            <p class="text-sm md:text-base m-0 line-clamp-4 md:line-clamp-2">{{ post.data.desc }}</p>
            {% if post.data.tags | length %}
              <div class="tags text-xs flex flex-wrap gap-1.5 mt-1">
                {% for tag in post.data.tags | filterTagList | head(3) %}
                  <span>#{{ tag | replace(' ', '') }}{%- if not loop.last %},{% endif %}</span>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}

</div>
