---
layout: page
title: "Download"
desc: "Download my resume and other resources."
permalink: /download/
---

<section class="text-center">
  <h1 class="m-0 text-lg md:text-xl font-semibold text-balance tracking-wide leading-6 uppercase">
    For websites with no limits
  </h1>
  <h2 class="m-0 text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-black uppercase max-w-4xl mx-auto text-balance
  text-transparent bg-linear-to-r bg-gradient-60 bg-clip-text from-orange-600 via-amber-500 to-orange-600 dark:via-amber-400 dark:to-orange-500">
    Say hello to your new HubSpot theme
  </h2>
  <p class="max-w-2xl mx-auto mt-8 text-balance">
    FreshJuice is a free and open-source HubSpot theme that is designed to give you more control over your website. It's perfect for agencies, freelancers, and businesses that want to create a unique and professional website without the high costs of custom development.
  </p>
  <div class="flex gap-4 flex-col justify-center items-center mt-8 md:mt-16">
    <a href="{{ hsTheme.download }}" class="btn btn--primary w-full sm:w-auto">
      {% phicon "download", "duotone", { class: "size-6" } %}
      <span>Download {{ hsTheme.version }}</span>
    </a>
    <span>— or —</span>
{#    check our documentation first #}
    <a href="/docs/" class="btn btn--ghost w-full sm:w-auto">
      Check our Documentation First
    </a>
  </div>

  <p class="mt-8 md:mt-16">
    <small>
      <em>
        <a href="/changelog/" class="inline-flex items-center justify-center gap-1.5 hover:text-red-600">
          Changelog and Release Notes
          {% phicon "info", "regular", { class: "size-4" } %}
        </a>
      </em>
    </small>
  </p>
</section>
