---
eleventyExcludeFromCollections: true
permalink: /feed.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.language }}">
	<title>{{ metadata.title }} Blog</title>
	<subtitle>{{ metadata.description }}</subtitle>
	<link href="{{ permalink | htmlBaseUrl(metadata.url) }}" rel="self"/>
	<link href="{{ metadata.url }}/"/>
	<updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
	<id>{{ metadata.url }}/</id>
	{%- for post in collections.posts | reverse | head(9) %}
	{% set absolutePostUrl %}{{ post.url | htmlBaseUrl(metadata.url) }}{% endset %}
	<entry>
		<title>{{ post.data.title }}</title>
		<link href="{{ absolutePostUrl }}"/>
		<updated>{{ post.date | dateToRfc3339 }}</updated>
		<id>{{ absolutePostUrl }}</id>
    <author>
      <name>{{ post.data.author | getAuthorData('name') }}</name>
    </author>
		<content type="html">{{ post.templateContent | transformWithHtmlBase(absolutePostUrl, post.url) }}</content>
	</entry>
	{%- endfor %}
</feed>
