---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
# Build: {{ build.hash.short }} at {{ build.timestamp.formatted }}
User-agent: *
Disallow: /404.html

Sitemap: https://freshjuice.dev/sitemap-index.xml
