---
title: "Metadata Checker"
description: "Check the metadata of a page"
partialScripts:
  - metadata-checker
---

<section class="max-w-2xl mx-auto space-y-12" x-data="MetadataChecker">

  <div class="">
    <h2>Debug</h2>
    <table>
      <tbody>
        <tr>
          <td>Target URL</td>
          <td x-text="targetUrl"></td>
        </tr>
        <tr>
          <td>Status</td>
          <td x-text="status"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <form @submit.prevent>
    <label>
      Enter Full URL:
      <input type="url" pattern="https?://.+" required
             x-model="targetUrl"
             placeholder="Enter your url">
    </label>

    <button @click="initProcessing" class="text-bold text-xl p-5 bg-red-400" type="submit">
      <span x-text="buttonLabel">Check Website Metadata</span>
      {# add spinner icon or processing triple dots #}
    </button>
  </form>

  <div class="space-y-12" x-show="showResults">
    <div class="relative w-full border border-gray-300 rounded overflow-hidden">
      <img :src="socialPreviewData.image" :alt="socialPreviewData.imagealt" class="object-cover">

      <div class="border-t border-gray-300 p-2 bg-gray-200">
        <div class="uppercase text-gray-500 text-[10px] truncate" x-text="homeUrl"></div>
        <div class="font-bold text-terminal text-sm leading-none truncate" x-text="socialPreviewData.title"></div>
        <div class="text-gray-500 whitespace-nowrap truncate overflow-hidden overflow-ellipsis text-xs leading-normal"
             x-text="socialPreviewData.description">
        </div>
      </div>
    </div>

    <div class="relative w-full">
      <div class="border border-gray-300 rounded-md overflow-hidden">
        <img :src="socialPreviewData.image" :alt="socialPreviewData.imagealt" class="object-cover">

        <div class="absolute bottom-8 bg-black bg-opacity-75 left-2 text-white rounded-sm overflow-hidden">
          <div class="px-1 text-bold text-xs xs:text-md leading-snug overflow-ellipsis truncate overflow-hidden" x-text="socialPreviewData.title" ></div>
        </div>
      </div>

      <div class="mt-0.5 truncate text-xs text-gray-500" x-text="'From ' + homeUrl"></div>
    </div>
  </div>

</section>
