@layer base {
  html {
    @apply antialiased font-sans;
  }

  figcaption {
    @apply text-sm text-center italic !mt-1;
  }

  .img {
    @apply mx-auto rounded shadow-lg dark:shadow-amber-200/25;
  }

  [id] {
    @apply scroll-mt-10;
  }

  .light {
    color-scheme: light;
  }

  .dark {
    color-scheme: dark;
  }

  .font-sans {
    font-optical-sizing: auto;
  }
}
