@layer base {
  .prose {
    --tw-prose-links: #dc2626;
    --tw-prose-caption: #282828;
    --tw-prose-code: #111827;
    --tw-prose-code-bg: #f5f5f5;
    --tw-prose-pre-bg: #1d1f21;
    --tw-prose-code-border-color: #bdbdbd;
  }

  .dark .prose {
    --tw-prose-body: #d4d4d4;
    --tw-prose-headings: #d4d4d4;
    --tw-prose-lead: #d4d4d4;
    --tw-prose-code: #d4d4d4;
    --tw-prose-links: #ef4444;
    --tw-prose-bold: #d4d4d4;
    --tw-prose-counters: #d4d4d4;
    --tw-prose-bullets: #d4d4d4;
    --tw-prose-hr: #f3f4f61a;
    --tw-prose-quotes: #d4d4d4;
    --tw-prose-quote-borders: #e5e7eb;
    --tw-prose-captions: #c5c5c5;
    --tw-prose-kbd: #111827;
    --tw-prose-kbd-shadows: 17 24 39;
    --tw-prose-pre-code: #e5e7eb;
    --tw-prose-th-borders: #f3f4f61a;
    --tw-prose-td-borders: #f3f4f61a;
    --tw-prose-code-border-color: #515151;
    --tw-prose-code-bg: #262626;
  }

  .prose {
    line-height: 1.75em;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply text-pretty;
    }

    p,
    ul,
    ol,
    blockquote,
    pre,
    picture,
    img {
      margin: 20px 0;
    }

    p.not-prose {
      margin: 0;
    }

    ul,
    ol {
      padding-left: 1.5em;
    }

    ul {
      list-style-type: disc;
    }

    ol {
      list-style-type: decimal;
    }

    ul li::marker,
    ol li::marker {
      color: currentColor;
    }

    li {
      padding-left: 0.25em;
    }

    strong {
      font-weight: 700;
    }

    em {
      font-style: italic;
    }

    hr {
      @apply border-t-2;
      color: var(--tw-prose-hr);
      border-top-width: 1px;
      margin: 3em 0;
    }

    blockquote {
      @apply border-l-4 pl-6 text-current;
      font-style: italic;
    }

    small {
      font-size: 0.85em;
    }
  }

  /* Start Prose Links <a> */
  .prose a:not(.not-prose *) {
    @apply text-(--tw-prose-links) no-underline hover:underline;
  }

  /* End Prose Links <a> */

  /* Start Code Element */
  .prose > code,
  .prose *:not(pre) > code {
    @apply border-(--tw-prose-code-border-color) text-(--tw-prose-code) inline-block font-semibold border-1 font-mono px-2 text-sm bg-(--tw-prose-code-bg);
    border-radius: 0.35rem;
  }

  /* End Code Element */

  /* Start List Items with ul ol */
  .prose ol > li:not(.not-prose *),
  .prose ul > li:not(.not-prose *) {
    @apply ps-1.5 my-2;
  }

  .prose blockquote > pre {
    @apply -ml-6 mr-0 md:mx-0;
  }

  /* End List Items with ul ol */

  /* Start Tables */
  .prose table:not([class]) th,
  .prose table:not([class]) td {
    padding: 0 1rem;
  }

  .prose table:not([class]) tbody > tr:nth-child(odd),
  .prose table.striped tbody > tr:nth-child(odd) {
    background-color: #f5f5f5;
  }

  .prose table-saw table:not([class]) tr {
    margin-bottom: 0;
  }

  /* End Tables */

  /* Blockquote content markers */
  .prose blockquote p:first-of-type::before,
  .prose blockquote p:last-of-type::after {
    content: none;
  }

  /* Start Headings */
  .prose h1 {
    /* Scale Down from 56px to 36px from screen size 1080px to 768px */
    font-size: clamp(2.25rem, 6.25vw + 0.375rem, 3.5rem);
  }

  .prose :where(h1):not(.not-prose *) {
    @apply font-extrabold leading-none;
  }

  .prose :where(h2):not(.not-prose *) {
    @apply text-2xl mt-12 mb-6 font-bold text-(--tw-prose-headings);
  }

  .prose :where(hr + *):not(.not-prose *) {
    @apply mt-0;
  }

  .prose h6 {
    font-weight: 700;
    line-height: 1.25;
    margin: 1.2em 0 0.5em;
    font-size: clamp(1rem, 1vw + 1rem, 1.125rem);
  }

  /* End Headings */

  .prose [data-hs-cos-type*="rich_text"] > *:first-child {
    margin-top: 0;
  }

  .prose [data-hs-cos-type*="rich_text"] > *:last-child {
    margin-bottom: 0;
  }
}
