@layer base {
  .prose {
    @apply md:text-base;
    line-height: 1.75em;
  }

  .prose picture + em {
    @apply block text-center text-sm italic -mt-8;
  }

  .prose :is(p, ul, ol, blockquote, pre) {
    @apply text-base md:text-xl;
    margin: 1.5em 0;
  }

  .prose :is(ul, ol) {
    padding-left: 1.5em;
  }

  .prose ul {
    list-style-type: disc;
  }

  .prose ol {
    list-style-type: decimal;
  }

  .prose :is(ul, ol) li::marker {
    color: currentColor;
  }

  .prose li {
    padding-left: 0.25em;
  }

  .prose strong {
    font-weight: 600;
  }

  .prose em {
    font-style: italic;
  }

  .prose hr {
    @apply border-t my-12 border-gray-200;
  }

  .prose blockquote {
    @apply border-l-4 p-4 pl-6 border-current/30;
    @apply text-current bg-cursor italic;

    & > *:first-child {
      @apply mt-0;
    }
    & > *:last-child {
      @apply mb-0;
    }
  }

  .prose img {
    @apply my-8 block;
  }

  .prose :is(picture, figure) {
    @apply my-0;
  }

  .prose a {
    @apply text-red-600 font-medium no-underline hover:underline;
  }

  .prose :where(:not(pre)) > code {
    @apply border-neutral-400 text-gray-900 inline-block
    font-semibold border-1 font-mono px-2 text-sm bg-neutral-100;
    border-radius: 0.35rem;
  }

  .prose blockquote > pre {
    @apply -ml-6 mr-0 md:mx-0;
  }

  .prose :is(ol, ul) > li:not(.not-prose *) {
    @apply ps-1.5 my-2;
  }

  .prose li > :is(ul, ol):not(.not-prose *) {
    @apply mt-0;
  }

  .prose blockquote p:first-of-type::before,
  .prose blockquote p:last-of-type::after {
    content: none;
  }

  /* Start Tables */
  .prose table {
    @apply w-full my-8 table-auto text-sm;
  }

  .prose table:not([class]) {
    th {
      @apply font-semibold align-bottom text-start p-4;
    }
    td {
      @apply align-top text-start p-4;
    }
  }

  .prose table:not([class]) tbody > tr:nth-child(odd),
  .prose table.striped tbody > tr:nth-child(odd) {
    @apply bg-neutral-100;
  }

  .prose tbody tr {
    @apply !mb-0 border-neutral-400/30;
    border-top-width: 1px;
    border-bottom-width: 1px;
  }

  .prose table-saw table:not([class]) tr {
    @apply mb-0;
  }
  /* End Tables */
}
