---
layout: base.njk
eleventyComputed:
  suffix: "— {{ role or position }}, {{ company or 'FreshJuice' }}"
---

<nav class="max-w-3xl md:text-xl mx-auto w-full min-h-9 leading-none mb-6 sm:mb-8">
  <a class="inline-flex items-center gap-2 group no-underline" href="/authors/">
    {% phicon "arrow-left", "bold", { class: "size-5 group-hover:-translate-x-2 transition-transform" } %}
    <span>Back to Voices<span class="sr-only"> of the Blog</span></span>
  </a>
</nav>


<main class="prose max-w-3xl mx-auto w-full">

  <header class="sm:flex sm:gap-8 md:gap-12">
    <div class="shrink-0 size-32 md:size-44">
      <img src="{{ email | getGravatarImage(352) }}" alt="Avatar for {{ name }}" class="rounded-full border-4 border-orange-300 size-32 md:size-44 m-0">
    </div>
    <div class="mt-6 sm:mt-0">
      <h1 class="mt-0 mb-2">{{ heading or title }}{%- if draft %} <small class="text-base">[draft]</small>{%- endif %}</h1>
      {% if role %}
      <p class="my-0 text-base">{{ role or "Guest Contributor" }}</p>
      <p class="mt-0 text-base">
        <a href="{{ companyUrl or "/about/" }}" class="text-red-600 font-medium no-underline group">
          @&nbsp;<span class="no-underline group-hover:underline">{{ company or "FreshJuice" }}</span>
        </a>
      </p>
      {% endif %}
      {{ content | safe }}
      {% if links %}
      <div class="flex gap-6 ">
        {%- if links.website %}
          <a class="text-zinc-900 hover:text-red-600" href="{{ links.website }}"><span class="sr-only">Visit {{ name | split(' ') | first }}`s Website</span>{% phicon "link", "regular", { class: "size-6" } %}</a>
        {%- endif %}
        {%- if links.linkedin %}
          <a class="text-zinc-900 hover:text-red-600" href="{{ links.linkedin }}"><span class="sr-only">Fallow {{ name | split(' ') | first }} on LinkedIn</span>{% phicon "linkedin-logo", "regular", { class: "size-6" } %}</a>
        {%- endif %}
        {%- if links.github %}
          <a class="text-zinc-900 hover:text-red-600" href="{{ links.github }}"><span class="sr-only">Fallow {{ name | split(' ') | first }} on GitHub</span>{% phicon "github-logo", "regular", { class: "size-6" } %}</a>
        {%- endif %}
        {%- if links.x %}
          <a class="text-zinc-900 hover:text-red-600" href="{{ links.x }}"><span class="sr-only">Fallow {{ name | split(' ') | first }} on X</span>{% phicon "x-logo", "regular", { class: "size-6" } %}</a>
        {%- endif %}
        {%- if links.instagram %}
          <a class="text-zinc-900 hover:text-red-600" href="{{ links.instagram }}"><span class="sr-only">Fallow {{ name | split(' ') | first }} on Instagram</span>{% phicon "instagram-logo", "regular", { class: "size-6" } %}</a>
        {%- endif %}
      </div>
      {% endif %}
    </div>
  </header>

</main>

{# Posts by author #}
{% set posts_by_author = collections.posts | getPostsByAuthor(page.fileSlug) %}
{% if posts_by_author | length %}
<section class="prose max-w-3xl mx-auto pt-8 mt-8 border-t border-gray-900/10 !space-y-8">
  {% for post in posts_by_author | reverse %}
    <article>
      <time class="block font-mono text-xs" datetime="{{ post.date | htmlDateString }}">
        {{ post.date | readableDate("yyyy/LL/dd") }}
      </time>
      <a href="{{ post.url }}" class="text-pretty inline-block leading-tight">
        <h2 class="text-red-600 text-base md:text-xl m-0 font-medium">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</h2>
      </a>
      <p class="text-sm md:text-base line-clamp-4 md:line-clamp-2 text-pretty m-0">{{ post.data.desc }}</p>
      {% if post.data.tags | length %}
        <div class="tags text-xs flex flex-wrap gap-1.5 mt-1">
          {% for tag in post.data.tags | filterTagList | head(3) %}
            <span>#{{ tag | replace(' ', '') }}{%- if not loop.last %},{% endif %}</span>
          {% endfor %}
        </div>
      {% endif %}
    </article>
  {% endfor %}
</section>
{% endif %}
