---
layout: base.njk
---

<nav class="max-w-prose md:text-xl mx-auto w-full min-h-9 leading-none mb-6 sm:mb-8">
  <a class="inline-flex items-center gap-2 group no-underline" href="/authors/">
    {% phicon "arrow-left", "bold", { class: "size-5 group-hover:-translate-x-2 transition-transform" } %}
    <span>Back to Authors</span>
  </a>
</nav>


<main class="prose md:prose-xl mx-auto w-full">

  <header class="sm:flex sm:gap-8 md:gap-12">
    <div class="shrink-0 size-32 md:size-44 not-prose">
      <img src="{{ email | getGravatarImage(352) }}" alt="Avatar for {{ name }}" class="rounded-full size-32 md:size-44">
    </div>
    <div class="mt-6 sm:mt-0">
      <h1 style="margin-bottom: 0">{{ heading or title }}{%- if draft %} <small class="text-base">[draft]</small>{%- endif %}</h1>
      {% if role %}
      <p class="not-prose text-base">{{ role }}</p>
      {% endif %}
      {{ content | safe }}
      {% if links %}
      <div class="flex gap-6 not-prose">
        {%- if links.website %}
          <a class="hover:text-red-600" href="{{ links.website }}"><span class="sr-only">Visit {{ name | split(' ') | first }}`s Website</span>{% phicon "link", "regular", { class: "size-6" } %}</a>
        {%- endif %}
        {%- if links.linkedin %}
          <a class="hover:text-red-600" href="{{ links.linkedin }}"><span class="sr-only">Fallow {{ name | split(' ') | first }} on LinkedIn</span>{% phicon "linkedin-logo", "regular", { class: "size-6" } %}</a>
        {%- endif %}
        {%- if links.github %}
          <a class="hover:text-red-600" href="{{ links.github }}"><span class="sr-only">Fallow {{ name | split(' ') | first }} on GitHub</span>{% phicon "github-logo", "regular", { class: "size-6" } %}</a>
        {%- endif %}
        {%- if links.x %}
          <a class="hover:text-red-600" href="{{ links.x }}"><span class="sr-only">Fallow {{ name | split(' ') | first }} on X</span>{% phicon "x-logo", "regular", { class: "size-6" } %}</a>
        {%- endif %}
      </div>
      {% endif %}
    </div>
  </header>

  {# Posts by author #}
  {% set posts_by_author = collections.posts | getPostsByAuthor(page.fileSlug) %}
  {% if posts_by_author | length %}
  <section class="pt-8 mt-8 border-t border-gray-900/10 dark:border-gray-100/10 !space-y-8">
    {% for post in posts_by_author | reverse %}
      <article>
        <time class="block font-mono text-xs" datetime="{{ post.date | htmlDateString }}">
          {{ post.date | readableDate("yyyy/LL/dd") }}
        </time>
        <a href="{{ post.url }}" class="text-pretty inline-block leading-tight">
          <h2 class="not-prose">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</h2>
        </a>
        <p class="text-sm md:text-base line-clamp-4 md:line-clamp-2 text-pretty" style="margin: 0">{{ post.data.desc }}</p>
      </article>
    {% endfor %}
  </section>
  {% endif %}

</main>
