<!doctype html>
<html lang="{{ metadata.language }}" class="dark {{ htmlClass }}" data-theme="dark" :class="theme.name" x-data="xDOM">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- if noindex %}
      <meta name="robots" content="noindex">
    {%- endif %}

    {# Metadata #}
		<title>{{ title or metadata.title }}{{ suffix or metadata.suffix }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<meta name="generator" content="{{ eleventy.generator }}">

    {# Canonical #}
    <link rel="canonical" href="{{ page.url | htmlBaseUrl(metadata.url) }}">

    {# Favicons #}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site-dark.webmanifest" media="(prefers-color-scheme: dark)">
    <link rel="manifest" href="/site.webmanifest" media="(prefers-color-scheme: light)">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ffc40d">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#18181b" media="(prefers-color-scheme: dark)" :content="theme.dark?'#18181b':'#fafafa'">
    <meta name="theme-color" content="#fafafa" media="(prefers-color-scheme: light)" :content="theme.dark?'#18181b':'#fafafa'">

    {# Social #}
    <meta property="og:title" content="{{ title or metadata.title }}{{ suffix or metadata.suffix }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="FreshJuice">
    <meta property="og:description" content="{{ description or metadata.description }}">
    <meta property="og:image" content="{% ogImageSource page %}">
    <meta property="og:url" content="{{ page.url | htmlBaseUrl(metadata.url) }}">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@FreshJuiceDev" />
    <meta name="twitter:image" content="{% ogImageSource page %}" />

    {# color theme toggle #}
    <script>!function(t,e,m){t&&"light"===t&&(e.classList.remove("dark"),e.setAttribute("data-theme","light"),m.setAttribute("content","#fafafa"))}(localStorage.getItem("theme"),document.documentElement,document.querySelector('meta[name="theme-color"]'));</script>

    {# Scripts helpers, domReady, loadScript, loadStylesheet #}
    <script>function domReady(t){["interactive","complete"].indexOf(document.readyState)>=0?t():document.addEventListener("DOMContentLoaded",t)}function loadScript(t,r="defer",d,n=!1){if(document.querySelector(`script[src="${t}"]`)){d&&n&&d();return}const e=document.createElement("script");e.src=t,r==="defer"&&(e.defer=!0),r==="async"&&(e.async=!0),e.onload=e.onreadystatechange=()=>{(!e.readyState||e.readyState==="loaded"||e.readyState==="complete")&&(d&&d(),e.onload=e.onreadystatechange=null)},document.body.appendChild(e)}function loadStylesheet(t,r,d){if(document.querySelector(`link[href="${t}"]`))return;const n=document.createElement("link");n.rel="stylesheet",n.type=d||"text/css",n.href=t,r&&(n.media=r),document.head.appendChild(n)}</script>

    {# Google Fonts #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=PT+Mono&display=swap" rel="stylesheet">

    {%- if eleventy.env.runMode === "serve" -%}
      <link rel="stylesheet" href="/css/main.css">
    {%- else -%}
      {% set styles %}/css/main.{{ build.hash.short }}.css{% endset -%}
      <link rel="preload" href="{{ styles }}" as="style">
      <link rel="stylesheet" href="{{ styles }}">
    {%- endif -%}
	</head>
	<body class="bg-zinc-50 text-zinc-900 dark:bg-zinc-900 dark:text-neutral-300 {{ bodyClass }}"
        :class="drawerOpen||docs.showOverlay?`overflow-hidden`:``">
		<a href="#skip" class="sr-only">Skip to main content</a>

    <div class="flex flex-col w-full justify-between min-h-screen">
      {% include "partials/header.njk" %}

      <div id="skip" class="mx-auto flex w-full max-w-7xl flex-auto flex-col justify-stretch px-6 py-8 sm:py-12 lg:py-24 lg:px-8">
        {{ content | safe }}
      </div>

      {% include "partials/footer.njk" %}
    </div>

    <script defer src="/js/main{%- if eleventy.env.runMode == 'build' -%}.{{ build.hash.short }}{%- endif -%}.js" type="text/javascript"></script>

		<!-- Current page: {{ page.url | htmlBaseUrl }} -->
	</body>
</html>
