<!doctype html>
<html lang="{{ metadata.language }}" class="{{ htmlClass }}" x-data="xDOM" data-layout="{{ layout }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- if noindex %}
      <meta name="robots" content="noindex">
    {%- endif %}

    {# Metadata #}
		<title>{{ title or metadata.title }}{{ suffix or metadata.suffix }}</title>
    <meta name="author" content="{% if author %}{{ author | getAuthorData('name') }}{% else %}Alex Zappa{% endif %}">
    <meta name="description" content="{{ desc or description or metadata.description }}">
		<meta name="generator" content="{{ eleventy.generator }}">

    {# Canonical #}
    <link rel="canonical" href="{{ page.url | htmlBaseUrl(metadata.url) }}">

    {# Favicons #}
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="FreshJuice" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="theme-color" content="#fafafa">

    {# Social #}
    <meta property="og:title" content="{{ title or metadata.title }}{{ suffix or metadata.suffix }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="FreshJuice">
    <meta property="og:description" content="{{ desc or description or metadata.description }}">
    <meta property="og:image" content="{{ metadata.url }}{% ogImageSource page %}">
    <meta property="og:image:alt" content="{{ title or metadata.title }}">
    <meta property="og:url" content="{{ page.url | htmlBaseUrl(metadata.url) }}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta name="twitter:title" content="{{ title or metadata.title }}{{ suffix or metadata.suffix }}">
    <meta name="twitter:description" content="{{ desc or description or metadata.description }}">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@FreshJuiceDev" />
    <meta name="twitter:creator" content="@{{ (author or metadata.social.x.link) | getTwitterName }}">
    <meta name="twitter:image" content="{{ metadata.url }}{% ogImageSource page %}" />
    <meta name="twitter:image:alt" content="{{ title or metadata.title }}">

    {# Plausible #}
    <script defer data-domain="freshjuice.dev" src="https://firebird.beastful.org/js/script.file-downloads.hash.outbound-links.pageview-props.revenue.tagged-events.js"></script>
    <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>

    {# Start of HubSpot Embed Code #}
    <script type="text/javascript" id="hs-script-loader" async defer src="//js-eu1.hs-scripts.com/146858173.js"></script>

    {# Scripts helpers, domReady, loadScript, loadStylesheet #}
    <script>function domReady(t){["interactive","complete"].indexOf(document.readyState)>=0?t():document.addEventListener("DOMContentLoaded",t)}function loadScript(t,r="defer",d,n=!1){if(document.querySelector(`script[src="${t}"]`)){d&&n&&d();return}const e=document.createElement("script");e.src=t,r==="defer"&&(e.defer=!0),r==="async"&&(e.async=!0),e.onload=e.onreadystatechange=()=>{(!e.readyState||e.readyState==="loaded"||e.readyState==="complete")&&(d&&d(),e.onload=e.onreadystatechange=null)},document.body.appendChild(e)}function loadStylesheet(t,r,d){if(document.querySelector(`link[href="${t}"]`))return;const n=document.createElement("link");n.rel="stylesheet",n.type=d||"text/css",n.href=t,r&&(n.media=r),document.head.appendChild(n)}</script>

    {# Styles #}
    <link rel="preload" href="/css/main.css?v={{ build.hash.short }}" as="style">
    <link rel="stylesheet" href="/css/main.css?v={{ build.hash.short }}">

    {# Schema markup #}
    {% include "partials/schema-markup.njk" %}
  </head>
	<body class="bg-zinc-50 text-zinc-900 {{ bodyClass }}"
        :class="showOverlay||docs.showOverlay?`overflow-hidden`:``">
		<a href="#skip" class="sr-only">Skip to main content</a>

    <div class="flex flex-col w-full justify-between min-h-screen">
      {% include "partials/header.njk" %}

      <div id="skip" class="mx-auto flex w-full max-w-7xl flex-auto flex-col justify-stretch px-6 py-8 sm:py-12 lg:py-24 lg:px-8">
        {{ content | safe }}
      </div>

      {% include "partials/footer.njk" %}
    </div>

    {# Scripts #}
    {%- if partialScripts %}
      {% for script in partialScripts %}
        {%- if script.startsWith('http') or script.startsWith('//') %}
        <script defer src="{{ script }}" type="text/javascript"></script>
        {%- else %}
        <script defer src="/js/{{ script }}.js?v={{ build.hash.short }}" type="text/javascript"></script>
        {%- endif %}
      {% endfor %}
    {%- endif %}
    <script defer src="/js/main.js?v={{ build.hash.short }}" type="text/javascript"></script>

    {# Overlay #}
    <div class="fixed inset-0 bg-terminal/50 backdrop-blur-sm z-20"
         x-cloak
         style="display: none"
         x-show="showOverlay||docs.showOverlay"
         x-transition:enter="transition ease-out duration-200"
         x-transition:enter-start="opacity-0"
         x-transition:enter-end="opacity-100"
         x-transition:leave="transition ease-in duration-150"
         x-transition:leave-start="opacity-100"
         x-transition:leave-end="opacity-0"></div>

		<!-- Current page: {{ page.url | htmlBaseUrl }} -->
	</body>
</html>
