---
layout: base.njk
---

<div class="-mt-8 sm:-mt-12 lg:-mt-16">
  {# Layout Helper #}
</div>

{# Search #}
<div class="fixed inset-0 mx-auto max-w-xl z-60 h-full flex items-center px-8" x-cloak x-show="docs.showSearch">
  <div id="docsSearch" class="h-4/5 max-h-[80vh] w-full" @click.outside="docs.closeSearch()">
    <div class="text-right">
      <button type="button" class="py-1 px-2 mb-4 border rounded-full text-xs bg-zinc-200 dark:bg-zinc-700" @click="docs.closeSearch()">
        <span class="sr-only">Press</span> ESC <span class="sr-only">to close</span>
      </button>
    </div>
  </div>
</div>

<div class="flex flex-col lg:flex-row lg:grow gap-8 lg:gap-12 lg:min-h-[80vh]">

  <aside class="mx-auto w-full lg:w-[19rem] shrink-0 border-y lg:border-y-0 lg:border-r border-gray-900/10 dark:border-gray-100/10 lg:py-8 relative">

    {# Desktop menu #}
    <div class="hidden lg:block absolute inset-0 overflow-y-auto"
         x-ref="docsMenuDesktop"
         x-init="
          if ($refs.activeMenuItem) {
            $refs.docsMenuDesktop.scrollTop = $refs.activeMenuItem.offsetTop - 200;
          }
         ">
      <div class="sticky top-0 z-10 lg:pr-8">
        <div class="h-8 bg-zinc-50 dark:bg-zinc-900"></div>
        <div class="bg-zinc-50 dark:bg-zinc-900">
        <button type="button"
                class="flex w-full gap-2 items-center px-3 py-2 border rounded text-sm bg-zinc-200/80 dark:bg-zinc-800 hover:bg-zinc-100 dark:hover:bg-zinc-700 transition-all"
                @click="docs.openSearch()"
                @mouseover="docs.loadAssets()">
          {% phicon "magnifying-glass", "regular", { class: "size-6"} %}
          <span>Quick search...</span>
          <span class="grow text-right text-xs" x-text="shortcuts.search">⌘K</span>
        </button>
        </div>
        <div class="bg-gradient-to-b from-zinc-50 dark:from-zinc-900 h-8"></div>
      </div>

      {% for section in menu.docs %}
        <div class="mb-6 lg:pr-8">
          <p class="text-lg font-semibold mb-3">{{ section.name }}</p>
          <ul class="list-none m-0 p-0 border-l border-gray-900/5 dark:border-gray-100/5 space-y-2">
            {% set menuCollection = section.items %}
            {% if section.name|lower == "modules" or section.name|lower == "sections" %}
              {% set menuCollection = section.items|sortCollection("title", "ASC") %}
            {% endif %}
            {% for item in menuCollection %}
              <li{% if page.url == item.url %} x-ref="activeMenuItem"{% endif %}>
                <a href="{{ item.url }}"
                   class="block pl-6 py-1 -ml-px border-l hover:border-current {% if page.url == item.url %}border-current !text-red-600 dark:!text-red font-semibold{% else %}border-transparent opacity-75 hover:opacity-100 !text-zinc-600 dark:!text-zinc-300{% endif %}">
                  {{ item.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}

    </div>

    {# Mobile menu #}
    <div class="lg:hidden" x-cloak>

      {# Set the section and page names for breadcrumbs #}
      {% set sectionName = "" %}
      {% set pageName = "" %}

      <div class="fixed z-40 inset-y-0 left-0 w-80 max-w-[calc(100%-3rem)] bg-zinc-100 dark:bg-zinc-800 p-6 overflow-y-auto space-y-6"
           x-show="docs.drawerMenuOpen"
           x-transition:enter="transition ease-out duration-200"
           x-transition:enter-start="opacity-0 -translate-x-40"
           x-transition:enter-end="opacity-100 translate-x-0"
           x-transition:leave="transition ease-in duration-150"
           x-transition:leave-start="opacity-100 translate-x-0"
           x-transition:leave-end="opacity-0 -translate-x-40"
           @click.outside="docs.toggleDrawerMenu()">

        <button type="button" class="absolute right-6 top-6 hover:text-red-600" @click="docs.toggleDrawerMenu()">
          <span class="sr-only">Close Navigation</span>
          {% phicon "x", "regular", { class: "size-6"} %}
        </button>

        {% for section in menu.docs %}
          <div class="">
            <p class="text-lg font-semibold mb-3">{{ section.name }}</p>
            <ul class="list-none m-0 p-0 border-l border-gray-900/5 dark:border-gray-100/5 space-y-2">
              {% set menuCollection = section.items %}
              {% if section.name|lower == "modules" or section.name|lower == "sections" %}
                {% set menuCollection = section.items|sortCollection("title", "ASC") %}
              {% endif %}
              {% for item in menuCollection %}

                {# Set the section and page names for breadcrumbs #}
                {% if page.url == item.url %}
                  {% set sectionName = section.name %}
                  {% set pageName = item.title %}
                {% endif %}

                <li>
                  <a href="{{ item.url }}"
                     class="block pl-6 py-1 -ml-px border-l hover:border-current {% if page.url == item.url %}border-current !text-red-600 dark:!text-red font-semibold{% else %}border-transparent opacity-75 hover:opacity-100 !text-zinc-600 dark:!text-zinc-300{% endif %}">{{ item.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>

      {# Breadcrumbs #}
      <div class="flex items-center p-4">
        <button type="button" class="hover:text-red-600" @click="docs.toggleDrawerMenu()">
          <span class="sr-only">Open Navigation</span>
          {% phicon "list", "regular", { class: "size-6" } %}
        </button>
        <ol class="mr-4 flex text-sm leading-6 whitespace-nowrap min-w-0" @click="docs.toggleDrawerMenu()">
          <li class="pl-4 flex items-center cursor-pointer">
            {{ sectionName or "Fruity" }}
            {% phicon "caret-right", "regular", { class: "size-3 mx-3 hidden sm:block" } %}
          </li>
          <li class="font-semibold hidden sm:block">{{ pageName or "Docs" }}</li>
        </ol>
        <button type="button"
                class="flex items-center ml-auto"
                @click="docs.openSearch()"
                @mouseover="docs.loadAssets()">
          {% phicon "magnifying-glass", "regular", { class: "size-6" } %}
          <span class="sr-only">Quick search...</span>
        </button>
      </div>

    </div>

  </aside>

  <main class="prose mx-auto w-full lg:max-w-full grow py-8" data-pagefind-body>

    <header class="prose md:prose-xl">
      {% if sectionName %}
        <p class="not-prose text-sm md:text-base font-semibold mb-0 text-red-600 dark:text-red leading-none">{{ sectionName }}</p>
      {% endif %}
      <h1>{{ heading or title }}</h1>
    </header>

    {{ content | safe }}

  </main>

</div>
