---
layout: base.njk
---

{%- set authorData = author | getAuthorData %}

<nav class="max-w-3xl md:text-xl mx-auto w-full min-h-9 leading-none">
  <a class="inline-flex items-center gap-2 group no-underline" href="/blog/">
    {% phicon "arrow-left", "bold", { class: "size-5 group-hover:-translate-x-2 transition-transform" } %}
    <span>Back to Blog</span>
  </a>
</nav>


<main class="max-w-3xl mx-auto w-full">

  <div class="prose">
    <header class="grid">
      <h1 class="mb-0">{{ heading or title }}{%- if draft %} <small class="text-base">[draft]</small>{%- endif %}</h1>
      <p class="post-metadata text-sm md:text-base">
        <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate("LLLL d, yyyy") }}</time>
        {%- if updated %}
          <time datetime="{{ updated | htmlDateString }}"> &bull; updated {{ updated | readableDate("LLL d, yyyy") }}</time>
        {%- endif %}
        &bull; Written by <a href="{{ authorData.url }}">{{ authorData.name }}</a>
      </p>
    </header>

    {{ content | safe }}
  </div>

  {# Authors #}
  {% authorSignature author %}

  <footer>
    {%- if tags | filterTagList | length %}
      <ul class="post-tags list-none flex flex-wrap gap-2 m-0 p-0 italic text-base">
        {%- for tag in tags | filterTagList | head(4) %}
          {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
          <li class="m-0 p-0"><a href="{{ tagUrl }}" rel="nofollow" class="hover:text-red-600">#{{ tag | replace(' ', '') }}</a>{%- if not loop.last %},{% endif %}</li>
        {%- endfor %}
      </ul>
    {%- endif %}

    {# Sharing buttons???
        <div class="flex flex-col sm:flex-row sm:items-center gap-4 sm:gap-8 mt-16"
             x-intersect.once="loadScript(`//cdn.jsdelivr.net/npm/share-buttons/dist/share-buttons.js`)">

          <div class="text-lg md:text-xl font-semibold whitespace-nowrap">Share Post</div>

          <div class="share-btn flex flex-wrap gap-4"
               data-title="{{ title | striptags }}"
               data-desc="{{ desc | striptags }}"
               data-url="{{ page.url | htmlBaseUrl(metadata.url) }}">

            {% set shareButtons = [
              { id: "tw", name: "X", icon: 'x-logo' },
              { id: "ln", name: "LinkedIn", icon: 'linkedin-logo' },
              { id: "re", name: "Reddit", icon: 'reddit-logo' },
              { id: "print", name: "Print", icon: 'printer' }
            ] %}
            {% for item in shareButtons %}
              <a data-id="{{ item.id }}"
                 href="#" @click="$event.preventDefault()"
                 class="cursor-pointer">
                {% phicon item.icon, "regular", { class: "size-8 transition-transform hover:scale-125" } %}
                <span class="sr-only">{{ item.name }}</span>
              </a>
            {% endfor %}

          </div>
        </div>
    #}

    {# Author #}
    {%- if authorData.name %}
    <div class="pt-8 mt-8 border-t border-gray-900/10 dark:border-gray-100/10 flex gap-4 sm:gap-8">
      <a class="block size-14 sm:size-20 shrink-0" href="{{ authorData.url }}">
        <span class="sr-only">Visit {{ authorData.name | split(' ') | first }}`s Author Page</span>
        <img src="{{ authorData.image }}" alt="Avatar for {{ authorData.name }}" class="rounded-full size-14 sm:size-20">
      </a>
      <div class="">
        <div class="text-lg mb-2 font-semibold">
          <a class="hover:text-red-600" href="{{ authorData.url }}">{{ authorData.name }}</a>
        </div>
        <div class="text-sm">{{ authorData.content }}</div>
      </div>
    </div>
    {%- endif %}

    {# Posts navigation #}
    {%- if collections.posts %}
      <div class="pt-8 mt-8 border-t border-gray-900/10 dark:border-gray-100/10">
        {%- set previousPost = collections.posts | getPreviousCollectionItem %}
        {%- set nextPost = collections.posts | getNextCollectionItem %}
        {%- if nextPost or previousPost %}
          <ul class="list-none p-0 m-0 grid xs:grid-cols-2 gap-8">
            {%- if previousPost %}
              <li class="text-left m-0 p-0">
                <a class="!no-underline group inline-block" href="{{ previousPost.url }}">
                  <span class="text-sm flex gap-1 items-center justify-start -ml-1">
                    {% phicon "arrow-up-left", "regular", { "class": "size-5" } %}<span>Previous</span>
                  </span>
                  <span class="group-hover:text-red-600 inline-block leading-tight text-pretty">{{ previousPost.data.title }}</span>
                </a>
              </li>
            {%- else %}
              <li></li>
            {%- endif %}
            {%- if nextPost %}
              <li class="text-right m-0 p-0">
                <a class="!no-underline group inline-block" href="{{ nextPost.url }}">
                  <span class="text-sm flex gap-1 items-center justify-end -mr-1">
                    <span>Next</span>{% phicon "arrow-up-right", "regular", { "class": "size-5" } %}
                  </span>
                  <span class="group-hover:text-red-600 inline-block leading-tight text-pretty">{{ nextPost.data.title }}</span>
                </a>
              </li>
            {%- else %}
              <li></li>
            {%- endif %}
          </ul>
        {%- endif %}
      </div>
    {%- endif %}
  </footer>
</main>
