---
layout: base.njk
---

<nav class="max-w-prose md:text-xl mx-auto w-full min-h-9 leading-none">
  <a class="inline-flex items-center gap-2 group no-underline" href="/tools/">
    {% phicon "arrow-left", "bold", { class: "size-5 group-hover:-translate-x-2 transition-transform" } %}
    <span>Back to Tools</span>
  </a>
</nav>

{{ content | safe }}
