@layer components {
  .btn {
    @apply px-6 py-2 text-base bg-orange-600 rounded-full shadow-md no-underline;
    @apply text-white font-semibold cursor-pointer;
    @apply inline-flex items-center justify-center gap-3;
    @apply border-orange-600 border-2 hover:brightness-125;
    @apply transition-all duration-300 ease-in-out;
    @apply hover:-translate-y-0.5 hover:shadow-lg;

    &--primary {
    }

    &--secondary {
      @apply text-orange-600 bg-zinc-50 border-current;
    }

    &--ghost {
      @apply text-orange-600 bg-zinc-50 border-zinc-50;
    }

    &--blue {
      @apply bg-blue-600 border-blue-600;
    }
  }
}

@utility btn--sm {
  @apply px-4 py-1 text-sm gap-2;
}

@utility btn--xs {
  @apply px-3 py-1 text-xs gap-1.5;
}

@utility btn--md {
  @apply px-6 py-2 text-base gap-3;
}
