@layer components {
  #hs-banner-parent {
    --hs-banner-font-family: var(--font-sans) !important;
    --hs-banner-accentColor: var(--color-orange-600) !important;
    @apply font-sans;

    .hs-category-label {
      @apply font-semibold!;
    }

    #hs-eu-cookie-settings-button {
      @apply font-medium! no-underline! hover:underline!;
    }

    #hs-modal-accept-all,
    #hs-modal-save-settings,
    #hs-eu-confirmation-button,
    #hs-eu-decline-button {
      @apply text-base!;
      @apply font-semibold border-2! hover:brightness-125;
      @apply hover:-translate-y-0.5 hover:shadow-lg;
      @apply transition-all duration-300 ease-in-out;
    }
  }

  html.high-contrast {
    #hs-banner-parent {
      --hs-banner-accentColor: var(--color-orange-700) !important;
    }
  }
}
